# Production API URL used when building release APK/AAB
EXPO_PUBLIC_API_URL=https://mobileapi.allsplit.money

EXPO_PUBLIC_ENABLE_SMS=false
EXPO_PUBLIC_ENABLE_WHATSAPP=false
EXPO_PUBLIC_ENABLE_PUSH=false
EXPO_PUBLIC_OTP_TEST_MODE=false
